name: git push into production

on:
  push:
    branches: [main]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm ci

      - name: Production Build Test
        run: npm run build:production

      - name: Create output directory and copy files
        if: success() # 이전 단계가 성공했을 때만 실행
        run: |
          chmod +x ./build.sh
          ./build.sh

      - name: Pushes to another repository
        if: success() # 이전 단계가 성공했을 때만 실행
        uses: cpina/github-action-push-to-another-repository@main
        env:
          API_TOKEN_GITHUB: ${{ secrets.GITHUB_TOKEN }}
        with:
          source-directory: 'output'
          destination-github-username: asroq1
          destination-repository-name: vercel-relogging-web
          user-email: ${{ secrets.OFFICIAL_ACCOUNT_EMAIL }}
          commit-message: 'Update from source repository - ${{ github.sha }}'
          target-branch: main
          github-server: 'github.com'
